# .ansiweatherrc example showing all available options

api_key:85a4e3c55b73909f42c6a23ec35b7147
fetch_cmd:curl -sf
location:Rzeszow,PL
units:metric
forecast:0
ansi:true
symbols:false
show_wind:true
show_humidity:true
show_pressure:true
show_daylight:false
dateformat:%a %b %d
timeformat:%b %d %r

# Text and Colors
background:\033[44m
text:\033[36;1m
data:\033[33;1m
delimiter:\033[35m=>
dashes:\033[34m-
forecast_text:forecast
greeting_text:Weather in
humidity_text:Humidity
pressure_text:Pressure
sunrise_text:Sunrise
sunset_text:Sunset
wind_directions:N NNE NE ENE E ESE SE SSE S SSW SW WSW W WNW NW NNW
wind_text:Wind

# Icons
sun:\033[33;1m\xe2\x98\x80
moon:\033[36m\xe2\x98\xbd
clouds:\033[37;1m\xe2\x98\x81
rain:\033[37;1m\xe2\x98\x94
fog:\033[37;1m\xe2\x96\x92
mist:\033[34m\xe2\x96\x91
haze:\033[33m\xe2\x96\x91
snow:\033[37;1m\xe2\x9d\x84
thunderstorm:\033[33;1m\xe2\x9a\xa1
