# .ansiweatherrc example showing all available options

fetch_cmd:curl -s
location:Moscow,RU
units:metric
forecast:0
daylight:false
ansi:true
symbols:true
dateformat:%a %b %d
timeformat:%b %d %r

# Geolocation
geo_api_proto:http
geo_api_url:www.telize.com/geoip

# Text and Colors
background:\033[44m
text:\033[36;1m
data:\033[33;1m
delimiter:\033[35m=>
dashes:\033[34m-
greeting_text:Current weather in
wind_text:Wind
humidity_text:Humidity
pressure_text:Pressure
sunrise_text:Sunrise
sunset_text:Sunset

# Icons
sun:\033[33;1m\xe2\x98\x80
moon:\033[36m\xe2\x98\xbd
clouds:\033[37;1m\xe2\x98\x81
rain:\xe2\x98\x94
fog:\033[37;1m\xe2\x96\x92
mist:\033[34m\xe2\x96\x91
haze:\033[33m\xe2\x96\x91
snow:\033[37;1m\xe2\x9d\x84
thunderstorm:\xe2\x9a\xa1
